:root {
  font-family: Inter, system-ui, Avenir, Helvetica, Arial, sans-serif;
  line-height: 1.5;
  font-weight: 400;

  /* color-scheme: light dark;
  color: rgba(255, 255, 255, 0.87);
  background-color: #242424; */

  font-synthesis: none;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;

  --header-height: 15vh;
  --cell-size: 3rem;
}
/* .prevent-select {
  -webkit-user-select: none; 
  -ms-user-select: none; 
  user-select: none; 
  } */

body {
  margin: 0;
  display: flex;
  flex-direction: column;
  height: 100vh;
  width: 100vw;
}

#main-content {
  display: flex;
  background-color: aqua;
  height: 70vh;
  /* border: 1px solid black; */
}

#left-content {
  height: 70vh;
  width: 50%;
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: lightpink;
}

#right-content {
  height: 70vh;
  width: 50%;
  background-color: lightgrey;
}

#footer-content {
  height: 15vh;
  background-color: burlywood;
}

/* -------------
  Header Content
---------------*/
#header-content {
  height: var(--header-height);
  display: flex;
  justify-content: space-between;
  background-color: darkseagreen;
}

#marvin-div {
  display: flex;
  align-items: center;
  justify-content: center;
}

#title-text {
  line-height: var(--header-height);
  background-color: aquamarine;
  font-size: x-large;
  padding-right: 2rem;
}

/* -----------------
  buildFleet content
-------------------*/

/* -------------
  Left Content
---------------*/

#ship-select-container {
  display: flex;
  flex-direction: column;
  justify-content: space-evenly;
  width: 30vw;
  height: 50vh;
  background-color: aquamarine;
  -ms-user-select: none;
  -webkit-user-select: none;
  user-select: none;
}

.ship-holder {
  display: flex;
  height: var(--cell-size);
  align-items: center;
}

.ship-name {
  font-size: large;
  margin-right: auto;
  -ms-user-select: none;
  -webkit-user-select: none;
  user-select: none;
}

.ship-part {
  width: var(--cell-size);
  height: var(--cell-size);
  background-size: cover;
}

.carrier0 {
  background-image: url("./images/carrier-0.png");
}
.carrier1 {
  background-image: url("./images/carrier-1.png");
}
.carrier2 {
  background-image: url("./images/carrier-2.png");
}
.carrier3 {
  background-image: url("./images/carrier-3.png");
}

.carrier4 {
  background-image: url("./images/carrier-4.png");
}

.battleship0 {
  background-image: url("./images/battleship-0.png");
}
.battleship1 {
  background-image: url("./images/battleship-1.png");
}
.battleship2 {
  background-image: url("./images/battleship-2.png");
}
.battleship3 {
  background-image: url("./images/battleship-3.png");
}

.destroyer0 {
  background-image: url("./images/destroyer-0.png");
}
.destroyer1 {
  background-image: url("./images/destroyer-1.png");
}
.destroyer2 {
  background-image: url("./images/destroyer-2.png");
}

.submarine0 {
  background-image: url("./images/submarine-0.png");
}
.submarine1 {
  background-image: url("./images/submarine-1.png");
}
.submarine2 {
  background-image: url("./images/submarine-2.png");
}
.patrol0 {
  background-image: url("./images/patrol-0.png");
}
.patrol1 {
  background-image: url("./images/patrol-1.png");
}

#carrier,
#battleship,
#destroyer,
#submarine,
#patrol {
  display: flex;
  height: min-content;
  width: min-content;
}

.rotate0 {
  transform: rotate(0deg);
}

.rotate1 {
  transform: rotate(90deg);
}

.rotate2 {
  transform: rotate(180deg);
}

.rotate3 {
  transform: rotate(270deg);
}
/*--------------
  gameboard
--------------*/

.gameboard {
  display: grid;
  width: min-content;
  height: min-content;
  gap: 1px;
  grid-template-columns: repeat(var(--grid-cols), 1fr);
  background-color: black;
}

.board-cell {
  height: var(--cell-size);
  width: var(--cell-size);
  place-content: center;
  text-align: center;
  line-height: var(--cell-size);
  background-size: cover;
}

.play-cell {
  background-color: rgb(97, 175, 224);
}

.guide {
  background-color: rgb(159, 159, 159);
  -ms-user-select: none;
  -webkit-user-select: none;
  user-select: none;
}

/*--------------
  Right content
---------------*/
#right-content {
  display: flex;
  align-items: center;
  justify-content: center;
}

.highlight-invalid {
  background-color: red;
}

.highlight-valid {
  background-color: green;
}
